* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    font-size:1rem
}

/* scroll de color  */
* {
    scrollbar-width: thin;
    scrollbar-color: #9f3647 black;
  }
*::-webkit-scrollbar {
    width: 12px;
  } 
*::-webkit-scrollbar-track {
    background: black;
  }
  
*::-webkit-scrollbar-thumb {
    background-color: #9f3647;
    border-radius: 20px;
    border: 3px solid black;
}

/*animacion logo*/

@keyframes animacion-formulario{
    from{
        opacity: 0;
        transform: scale(0.7);
    }
    to{
        opacity: 1;
    }
}

html{
    display: flex;
    height: 100%;
    margin: 0;
    flex-direction: column;
}

body{
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../assets/img/bg-register.jpg);
    background-size: cover;
    background-color: grey;
    display: flex;
    height: 100%;
    margin: 0;
    flex-direction: column;
    color: white;
    font-family: "Nunito", sans-serif;
}

.header{
    color: white;
    height:3vh;
    position: sticky;
}

.naveg{
    color: white;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 1.5rem;
    align-items: center;
}  

.logo{
    color: white;
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 30px;
}

.contenedor{
    display: grid;
    background-color: rgb(42, 42, 42);
    grid-template-columns: 400px;
    grid-template-rows: 50px 500px 50px ;
    box-sizing: border-box;
    width: 400px;
    height: 600px;
    position: relative;
    margin: auto;
    justify-content: center;
    align-items: center;
    
    animation-name: animacion-formulario;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.titulo{
    text-align: center;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nombre, .apellido, .email, .contrasena{
    text-align: center;
    width: 300px;
    height: 40px;
    border-radius: 40px;
    border-color: #9f3647;
    border-width: 3%;
    background-color: #333333;
    border-style: solid;
}

.enviar{
    background-color: #9f3647;
    width: 15vw;
    height: 5vh;
    border-radius: 10px;
    border-style: solid;
    border-color: #9f3647;
}

.table{
    border: 1px solid white;
    text-align: center;
    width: 100%;
    border-collapse: collapse;

    th,td{
        border: 1px solid white;
        text-align: center;
    }
}


a{
    color: grey;
    text-decoration: none;
}

.error{
    color: red;
}
